@page
@model IndexModel
@{
    ViewData["Title"] = "Crop Control";
}

<a href="/Results">Search</a>
<a href="/Results">Search Fruits</a>
<h1 style="background-color:black">Welcome To Crop Control</h1>
<a href="/Results">Press Here</a>
<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>


<divdiv>
<h2>Humidity Fruit and Vegetables Grown in </h2>
<table style="width:100%" border="1">
<tr>
    <td>Apples</td>
    <td>Oranges</td>
    <td>Banana</td>

</tr>
<tr>
    <td>40%-60%</td>
    <td>60%-80%</td>
    <td>50%-60%</td>
</tr>
 </table>

<h2>Cities Todays Humidity</h2>
<table style="width:100%" border="1">
    <tr>
        <td>Morgantown</td>
        <td>Brooklyn</td>
        <td>Calgary</td>
    </tr>
    <tr>
        <td>59%</td>
        <td>56%</td>
        <td>20%</td>
    </tr>
</table>
</divdiv>